<table  border="1"  WIDTH="50%"   CELLPADDING="10" CELLSPACING="3">
  <tr bgcolor="#adff2f">
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
    <th colspan="2"></th>
  </tr>

  <% @cars.each do |car| %>
    <tr id="<%= dom_id(car)%>">
      <td><%= car.make %></td>
      <td><%= car.model %></td>
      <td><%= car.year %></td>
      <td><%= number_to_currency(car.price) %></td>
      <td><%= link_to('Edit', edit_car_path(car))%></td>
      <td bgcolor="#f08080"><%= link_to('Unclaim', unclaim_car_path(car))%></td>
    </tr>
  <% end %>
</table>
